## SET CREATION ##

In [2]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [4]:
len(myset)

5

In [6]:
my_set = {1,1,2,2,3,4,5,5}

In [8]:
myset1 = {1.79,2.08,3.99,4.56,5.46}
myset1

{1.79, 2.08, 3.99, 4.56, 5.46}

In [10]:
myset2 = {'Aisf','John','Tyrion'}
myset2

{'Aisf', 'John', 'Tyrion'}

In [12]:
myset3 = {10,20,"Hola",[11,22,32]}
myset3

TypeError: unhashable type: 'list'

In [14]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [16]:
my_set = set(('one','two','three','four'))
myset

{1, 2, 3, 4, 5}

In [18]:
for i in myset:
    print(i)

1
2
3
4
5

In [21]:
for i in enumerate(my_set):
    print(i)

(0, 'four')
(1, 'one')
(2, 'two')
(3, 'three')

## SET MEMBERSHIP ##

In [23]:
myset

{1, 2, 3, 4, 5}

In [26]:
'one' in myset

False

In [28]:
1 in myset

True

In [30]:
2 in myset

True

In [32]:
my_set

{'four', 'one', 'three', 'two'}

if 'four' in myset:
    print('There is present in the set')
else:
    print('Three is not  present in the set')

In [36]:
myset = {'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
myset.add('Nine')

In [40]:
myset

{'Nine', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
myset.update(['TEN','ELEVEN','TWELEVE'])
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELEVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [47]:
myset.remove('NIne')
myset

KeyError: 'NIne'

## SET OPEARTION ##

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A

{1, 2, 3, 4, 5}

In [51]:
B

{4, 5, 6, 7, 8}

In [53]:
C

{8, 9, 10}

In [56]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [61]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A

{1, 2, 3, 4, 5}

In [65]:
A & B

{4, 5}

In [67]:
A.intersection(B)

{4, 5}

## DIFFERENCE ##

In [69]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [71]:
A-B

{1, 2, 3}

## SYMMETRIC DIFFERECENCE ##

In [73]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A^B

{1, 2, 3, 6, 7, 8}

In [75]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [76]:
B.issubset(A)

True